In [1]:
import psycopg2
import pyodbc
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
#Conectando ao Sql Server

# Parâmetros de conexão
server = 'sql.bsite.net\MSSQL2016'
database = 'danielteofilo_'
username = 'danielteofilo_'
password = 'FreeSite100'
driver = '{ODBC Driver 17 for SQL Server}'

try:
    # String de conexão
    conn_str = f'DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}'

    # Estabelece a conexão
    conn = pyodbc.connect(conn_str)

    df_sql_server = pd.read_sql('SELECT * FROM vendas', conn)
    
except Exception as e:
    print(f'Deu ruim: {e}')
finally:
    # Fecha a conexão
    conn.close()

In [7]:
import pyodbc
import pandas as pd

# Conectando ao SQL Server

# Parâmetros de conexão
server = 'sql.bsite.net,MSSQL2016'  # Substitui \ por , para compatibilidade
database = 'danielteofilo_'
username = 'danielteofilo_'
password = 'FreeSite100'
driver = '{ODBC Driver 17 for SQL Server}'

try:
    # String de conexão
    conn_str = f'DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password};Connection Timeout=60'

    # Estabelece a conexão
    conn = pyodbc.connect(conn_str)

    # Executa a consulta e carrega os dados em um DataFrame
    df_sql_server = pd.read_sql('SELECT * FROM vendas', conn)
    print(df_sql_server)  # Exibe o DataFrame (opcional)

except Exception as e:
    print(f'Erro ao conectar: {e}')

finally:
    # Fecha a conexão, se foi estabelecida
    if 'conn' in locals() and conn:
        conn.close()
        print("Conexão fechada com sucesso.")

Erro ao conectar: ('HYT00', '[HYT00] [Microsoft][ODBC Driver 17 for SQL Server]Login timeout expired (0) (SQLDriverConnect)')

In [ ]:
df_sql_server.head()

In [ ]:
df_sql_server.info()

In [ ]:
df_sql_server['data_venda'] = pd.to_datetime(df_sql_server['data_venda'])

In [ ]:
df_sql_server['data_venda'].dt.year

In [ ]:
df_sql_server['ano'] = df_sql_server['data_venda'].dt.year

In [ ]:
df_sql_server['ano'].value_counts()

In [ ]:
df_group_sql = df_sql_server.groupby('ano')['valor_venda'].sum().reset_index()

In [ ]:
df_group_sql

In [ ]:
df_group_sql['empresa'] = 'Empresa 01'

In [ ]:
# Configurações de conexão
host = "postgresql-datadt.alwaysdata.net"
database = "datadt_curso_python"
user = "datadt_digital"
password = "Digital2024"
port = "5432"

try:
    # Conectando ao banco de dados
    conn = psycopg2.connect(
        host=host,
        database=database,
        user=user,
        password=password,
        port=port
    )

    df_postgres = pd.read_sql("""
            select * from vendas.nota_fiscal nf
                     """, conn)
    
except Exception as e:
    print("Erro ao conectar ao banco de dados:", e)
    
finally:
    if 'conn' in locals():
        conn.close()

In [ ]:
df_postgres.head()

In [ ]:
df_postgres.info()

In [ ]:
df_postgres['ano'] = df_postgres['data_venda'].dt.year

In [ ]:
df_group_postgres = df_postgres.groupby('ano')['valor'].sum().reset_index()

In [ ]:
df_group_postgres

In [ ]:
df_group_postgres['empresa'] = 'Empresa 02'

In [ ]:
df_group_postgres.rename(columns={'valor': 'valor_venda'}, inplace=True)

In [ ]:
df_resultado_geral = pd.concat([df_group_sql, df_group_postgres])

In [ ]:
df_resultado_geral

In [ ]:
df_resultado_geral.info()

In [ ]:
# Agrupando os dados por ano e empresa
df_grouped = df_resultado_geral.groupby(['ano', 'empresa'])['valor_venda'].sum().unstack()

# Definindo a posição das barras
bar_width = 0.35
x = np.arange(len(df_grouped.index))

# Criando o gráfico de barras
fig, ax = plt.subplots(figsize=(10, 6))
bar1 = ax.bar(x - bar_width/2, df_grouped['Empresa 01'], bar_width, label='Empresa 01')
bar2 = ax.bar(x + bar_width/2, df_grouped['Empresa 02'], bar_width, label='Empresa 02')

# Adicionando rótulos e título
ax.set_xlabel('Ano')
ax.set_ylabel('Valor de Venda')
ax.set_title('Vendas por Ano e Empresa')
ax.set_xticks(x)
ax.set_xticklabels(df_grouped.index)
ax.legend()

# Mostrando o gráfico
plt.tight_layout()
plt.show()

In [ ]:
# Agrupando os dados por ano e empresa
df_grouped = df_resultado_geral.groupby(['ano', 'empresa'])['valor_venda'].sum().unstack()

# Definindo a posição das barras
bar_width = 0.35
x = np.arange(len(df_grouped.index))

# Criando o gráfico de barras
fig, ax = plt.subplots(figsize=(10, 6))
bar1 = ax.bar(x - bar_width/2, df_grouped['Empresa 01'], bar_width, label='Empresa 01')
bar2 = ax.bar(x + bar_width/2, df_grouped['Empresa 02'], bar_width, label='Empresa 02')

# Adicionando rótulos e título
ax.set_xlabel('Ano')
ax.set_ylabel('Valor de Venda (Escala Logarítmica)')
ax.set_title('Vendas por Ano e Empresa')
ax.set_xticks(x)
ax.set_xticklabels(df_grouped.index)
ax.legend()

# Definindo o eixo y em escala logarítmica
ax.set_yscale('log')

# Mostrando o gráfico
plt.tight_layout()
plt.show()

In [ ]:
# Agrupando os dados por ano e empresa
df_grouped = df_resultado_geral.groupby(['ano', 'empresa'])['valor_venda'].sum().unstack()

# Definindo a posição das barras
bar_width = 0.35
x = np.arange(len(df_grouped.index))

# Criando o gráfico de barras
fig, ax = plt.subplots(figsize=(10, 6))
bar1 = ax.bar(x - bar_width/2, df_grouped['Empresa 01'], bar_width, label='Empresa 01')
bar2 = ax.bar(x + bar_width/2, df_grouped['Empresa 02'], bar_width, label='Empresa 02')

# Adicionando rótulos e título
ax.set_xlabel('Ano')
ax.set_ylabel('Valor de Venda (Escala Logarítmica)')
ax.set_title('Vendas por Ano e Empresa')
ax.set_xticks(x)
ax.set_xticklabels(df_grouped.index)
ax.legend()

# Definindo o eixo y em escala logarítmica
ax.set_yscale('log')

# Adicionando os valores no topo das barras
for i in x:
    ax.text(i - bar_width/2, df_grouped['Empresa 01'].iloc[i], 
            f'{df_grouped["Empresa 01"].iloc[i]:,.0f}', 
            ha='center', va='bottom')
    
    ax.text(i + bar_width/2, df_grouped['Empresa 02'].iloc[i], 
            f'{df_grouped["Empresa 02"].iloc[i]:,.0f}', 
            ha='center', va='bottom')

# Mostrando o gráfico
plt.tight_layout()
plt.show()

In [ ]:
sudo locale-gen pt_BR.UTF-8
sudo update-locale

In [ ]:
# Exemplo de dados
data = {
    'ano': [2012, 2013, 2014, 2015, 2015, 2016, 2017],
    'valor_venda': [37504.0, 93418.0, 63322.0, 166835.0, 28167840.0, 29348852.0, 31045856.0],
    'empresa': ['Empresa 01', 'Empresa 01', 'Empresa 01', 'Empresa 01', 'Empresa 02', 'Empresa 02', 'Empresa 02']
}
df_resultado_geral = pd.DataFrame(data)

# Agrupando os dados por ano e empresa
df_grouped = df_resultado_geral.groupby(['ano', 'empresa'])['valor_venda'].sum().unstack()

# Definindo a posição das barras
bar_width = 0.35
x = np.arange(len(df_grouped.index))

# Função para formatar números em reais
def formatar_reais(valor):
    return f'R$ {valor:,.0f}'.replace(',', 'X').replace('.', ',').replace('X', '.')

# Criando o gráfico de barras
fig, ax = plt.subplots(figsize=(10, 6))
bar1 = ax.bar(x - bar_width/2, df_grouped['Empresa 01'], bar_width, label='Empresa 01')
bar2 = ax.bar(x + bar_width/2, df_grouped['Empresa 02'], bar_width, label='Empresa 02')

# Adicionando rótulos e título
ax.set_xlabel('Ano')
ax.set_ylabel('Valor de Venda (Escala Logarítmica)')
ax.set_title('Vendas por Ano e Empresa')
ax.set_xticks(x)
ax.set_xticklabels(df_grouped.index)
ax.legend()

# Definindo o eixo y em escala logarítmica
ax.set_yscale('log')

# Adicionando os valores em reais no topo das barras
for i in x:
    ax.text(i - bar_width/2, df_grouped['Empresa 01'].iloc[i], 
            formatar_reais(df_grouped["Empresa 01"].iloc[i]), 
            ha='center', va='bottom')
    
    ax.text(i + bar_width/2, df_grouped['Empresa 02'].iloc[i], 
            formatar_reais(df_grouped["Empresa 02"].iloc[i]), 
            ha='center', va='bottom')

# Mostrando o gráfico
plt.tight_layout()
plt.show()

In [ ]:
df_resultado_geral.to_excel('dados_finais.xlsx')